/* for normal text */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* for heading text */
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #121212;
  --dark: #212121;
  --white: #fdfdfd;
  /* --primary: #00BCD4; */
  /* --primary: #EEAE4D; */
  --primary: #6a44ff;
  --secondary: #020024;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  /* background: var(--black); */
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
  color: #fff;
  min-height: 100vh;
}

.h-font {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* User Selection Design */
::selection {
  background-color: var(--white);
  color: var(--primary);
}

/* Custom Scrollbar Design */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--secondary);
}
::-webkit-scrollbar-thumb {
  background: var(--white);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
